[{:module-id :main, :name :main, :output-name "main.js", :entries [sanity.core], :depends-on nil, :sources ["goog/base.js" "goog/debug/error.js" "goog/dom/nodetype.js" "goog/string/string.js" "goog/asserts/asserts.js" "goog/reflect/reflect.js" "goog/math/long.js" "goog/math/integer.js" "goog/object/object.js" "goog/array/array.js" "goog/structs/structs.js" "goog/functions/functions.js" "goog/math/math.js" "goog/iter/iter.js" "goog/structs/map.js" "goog/uri/utils.js" "goog/uri/uri.js" "goog/string/stringbuffer.js" "cljs/core.cljs" "sanity/protocols.cljs" "sanity/google.cljs" "shadow/js.js" "node_modules/mapbox-gl/dist/mapbox-gl.js" "sanity/mapbox.cljs" "sanity/core.cljs" "shadow/module/main/append.js"]}]